<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.png">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    {% block titulo %}
    {% endblock %}
    <header>
        <div class="main">
            <div class="logo">
                <a href="/"><img src="/static/website/2.png"></a>
            </div>
            <ul>
                <li><a href="login">Login</a></li>
                <li><a href="registo">Registo</a></li>
                <li><a href="apagar">Eliminar Conta</a></li>
                <li><a href="newpass">NewPass</a></li>
            </ul>
        </div>
    </header>
<body background="/static/bg/1.jpg"></body>
{% block conteudo %}
{% endblock %}
</html>
